@(action: Call, technology: Form[models.Technology])(buttons: Html)

@import helper._

@form(action = action, 'id -> "technology-form") {
    @technology.globalError.map { message =>
        <div class="error-message">@message.message</div>
    }

    <div class="column-of-two">
        <input type="hidden" name="priority" value='@technology("priority").value.getOrElse(false)'/>
        <input type="hidden" name="archived" value='@technology("archived").value.getOrElse(false)'/>
        @inputText(technology("name"), '_label -> "Name")
        @textarea(technology("description"), '_label -> "Description", 'rows -> 6)
    </div>

    <div class="column-of-two">
        @inputText(technology("homePage"), '_label -> "Home Page", 'type -> "url")
        @inputText(technology("tags"), '_label -> Html("Tags <small style='font-weight:normal;'>(seperated by spaces)</small>"))
        @select(technology("status"), options = options(models.Technology.Status.options:_*), '_label -> "Status")
    </div>

    <div class="clear">
        @buttons
    </div>
}