@(tech: Form[models.Technology])

@import helper._

@main {

    <header class="group">
        <div class="full-width">
            <h1>Add New Technology</h1>
        </div>
    </header>
    @form(action = routes.Application.doAdd, 'id -> "add-form") {
        @inputText(tech("name"), '_label -> "Name")
        @inputText(tech("description"), '_label -> "Description")
        @inputText(tech("homePage"), '_label -> "Home Page", 'type -> "url")
        @inputText(tech("tags"), '_label -> Html("Tags <small style='font-weight:normal;'>(seperated by spaces)</small>"))
        @select(tech("status"), options = options(models.Technology.statusOptions:_*), '_label -> "Status")
        <input type="submit" value="&nbsp;&nbsp;&nbsp;Add New Technology&nbsp;&nbsp;&nbsp;" class="button"/>
    }
}
