@(id: String, tech: Form[models.Technology])

@import helper._

@main {

    <header class="group">
        <div class="full-width">
            <h1>Edit Technology</h1>
        </div>
    </header>

    <div class="dates">
        <span>Added:</span> @partials.niceDate(tech.get.added)
        <span>Last Modified:</span> @partials.niceDate(tech.get.lastModified)
    </div>

    @partials.technologyForm(routes.Technologies.performEdit(id), tech) {
        <input type="submit" value="Edit Technology" class="button"/>
        @if(tech.get.archived) {
            <a href="@routes.Technologies.performUnarchive(id)" class="button gray">Unarchive Technology</a>
        } else {
            <a href="@routes.Technologies.performArchive(id)" class="button gray">Archive Technology</a>
        }
        <a href="@routes.Technologies.performDelete(id)" class="button red">Delete Technology</a>
        <script type="text/javascript">
            document.querySelector(".button.red").addEventListener("click", function(event){
                if(!confirm("This will delete this technology for good.  We cool?")) {
                    event.preventDefault()
                    return false;
                }
            })
        </script>
    }
}
