@import helper._

@main {

    <header class="group">
        <div class="full-width">
            <h1>Import Technologies</h1>
        </div>
    </header>

    @form(action = routes.Application.doImport, 'id -> "add-form", 'enctype -> "multipart/form-data") {
        <div style="float:left;width:45%;margin-right:10%">
            <dl class=" " id="name_field">
                <dt><label for="file">File <small>(*.csv)</small></label></dt>
                <dd>
                    <input type="file" id="file" name="file" />
                </dd>
            </dl>
        </div>
        <div style="clear:both;">
            <input type="submit" value="&nbsp;&nbsp;&nbsp;Import Technologies&nbsp;&nbsp;&nbsp;" class="button"/>
        </div>
    }
}
