@(hits: List[models.Technology])

@main {
    <span class="hit-count">
        <h1>@hits.size listed</h1>
    </span>

    <a href="@routes.Technologies.add" class="button" id="new-technology">New Technology</a>
    <a href="@routes.Bulk.in" class="button" id="import-technologies">Import CSV</a>
    <a href="@routes.Bulk.out" class="button-secondary" id="export-technologies">Export CSV (All)</a>

    <table id="technology-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        @hits.map { technology =>
           <tr>
               <td class="name">
                   <div class="ellipsis">
                       @technology.homePage.map { page =>
                            <a href="@page">@technology.name</a>
                       }.getOrElse {
                            @technology.name
                       }
                   </div>
               </td>
               <td class="description">
                   <div class="tag-holder">
                       @defining(technology.status.toLowerCase) { status =>
                            <span class="tag status @status">
                                <a href='@routes.Query.forStatus(status)'>@status</a>
                            </span>
                       }

                       @technology.tags.map { tag =>
                           <span class="tag">
                               <a href='@routes.Query.forTag(tag)'>@tag</a>
                           </span>
                       }
                   </div>
                   <div class="ellipsis">
                       @technology.description
                   </div>
               </td>
               <td class="actions">
                   <a href="@routes.Technologies.edit(technology.id)" class="edit-link">⚙</a>
               </td>
           </tr>
        }
    </table>
}
