@(hits: List[models.Technology], total: Long)

@main {

    <span class="hit-count">
        <h1>
            <a href="@routes.Technologies.index">@total</a> Total /
            <a href="@routes.Query.priorityOnly">@hits.filter(_.priority).size</a> Priority
        </h1>
    </span>

    <a href="@routes.Technologies.add" class="button" id="new-technology">New Technology</a>
    <a href="@routes.Bulk.in" class="button" id="import-technologies">Import CSV</a>
    <a href="@routes.Bulk.out" class="button-secondary" id="export-technologies">Export CSV (All)</a>

    <table id="technology-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        @hits.map { technology =>
           <tr class='@("archived".when(technology.archived))'>
               <td class="name">
                   <div class="ellipsis">

                       @technology.homePage.map { page =>
                            <a href="@page">@technology.name</a>
                       }.getOrElse {
                            @technology.name
                       }
                   </div>
               </td>
               <td class="description">

                   <div class="tag-holder">
                       @defining(technology.status.toLowerCase) { status =>
                            <span class="tag status @status">
                                <a href='@routes.Query.forStatus(status)'>@status</a>
                            </span>
                       }

                       @technology.tags.map { tag =>
                           <span class="tag">
                               <a href='@routes.Query.forTag(tag)'>@tag</a>
                           </span>
                       }
                   </div>
                   <div class="ellipsis">
                       <a href="#" class="priority-link" data-priority="@technology.priority" data-id="@technology.id">
                           @if(technology.priority) { ★ } else { ☆ }
                       </a>
                       @technology.description
                   </div>
               </td>
               <td class="actions">
                   <a href="@routes.Technologies.edit(technology.id)" class="edit-link">⚙</a>
               </td>
           </tr>
        }
    </table>
    <script type="text/javascript">
        document.querySelector("#technology-list").addEventListener("click", function(event){
            var target = event.target

            if(target.classList.contains("priority-link")){

                var priority = JSON.parse(target.getAttribute("data-priority"));
                var newPriority = JSON.stringify(!priority);
                var id = target.getAttribute("data-id");

                var ajax = new XMLHttpRequest();
                ajax.open("GET", "/technology/" + id + "/priority/" + newPriority);
                ajax.onreadystatechange = function() {
                    if (ajax.readyState === 4 && ajax.status === 200) {
                        target.innerHTML = priority ? "☆" : "★";
                        target.setAttribute("data-priority", newPriority);
                    }
                };
                ajax.send();

                event.preventDefault()
            }
        })
    </script>
}
