@(technology: models.Technology)

@import helper._

@main {

<div class="tag-holder view">

    @defining(technology.status.toLowerCase) { status =>
                            <span class="tag status @status">
                                <a href='@routes.Application.doStatus(status)'>@status</a>
                            </span>
    }

    @technology.tags.map { tag =>
                           <span class="tag">
                               <a href='@routes.Application.doTag(tag)'>@tag</a>
                           </span>
    }
</div>

    <header class="group">
        <div class="full-width">
            <h1 class="technology-name">@technology.name</h1>
        </div>
    </header>

        @technology.homePage.map { page =>
            <div class="home-page">
                <p><a href="@page">Home Page</a></p>
            </div>
        }

    <div class="technology-description">
        <p>@technology.description</p>
    </div>

}
